@inject IMediator mediator

@rendermode InteractiveServer

<button type="button" class="btn btn-primary" @onclick="MarkAsFavorite">@label</button>

@code {
    [Parameter] public int RecipeId { get; set; }
    [Parameter] public bool MarkedAsFavorite { get; set; }
    [Parameter] public Action OnMarkedAsFavorite { get; set; } = () => { };

    private const string AddToFavoriteLabel = "Dodaj do ulubionych";
    private const string RemoveFromFavoriteLabel = "Usuń z ulubionych";

    private string? label;

    protected override void OnParametersSet()
    {
        label = MarkedAsFavorite ? RemoveFromFavoriteLabel : AddToFavoriteLabel;
    }

    private async Task MarkAsFavorite()
    {
        await mediator.Send(new SwitchRecipeMarkedAsFavoriteCommand(RecipeId));
        OnMarkedAsFavorite();
    }
}
