@inject NavigationManager Nav
@inject IMediator mediator

@page "/my-shopping-lists"
@attribute [StreamRendering]

<PageTitle>Moje listy zakupów</PageTitle>

<h4>Moje listy zakupów:</h4>

@if (shoppingLists is not null)
{
    foreach (var list in shoppingLists)
    {
        var link = $"shopping-list/{list.Id}";
        <p>
            <NavLink href="@link">@list.Name</NavLink>
        </p>
    }
    <p>
        <NavLink href="shopping-list">Dodaj nową listę...</NavLink>
    </p>
}

@code {
    IReadOnlyCollection<ShoppingListShort>? shoppingLists;

    protected override async Task OnInitializedAsync()
    {
        shoppingLists = await mediator.Send(new GetShoppingListsQuery());
    }
}
