@inherits MessageComponentBase
@inject NavigationManager Nav
@inject IMediator Mediator

@page "/shopping-list"
@page "/shopping-list/{ShoppingListId:int}"

@if (ShoppingListModel is null)
{
    <p>Ładowanie...</p>
    return;
}

<EditForm Model="@ShoppingListModel" OnSubmit="AddOrUpdateShoppingList" FormName="ShoppingListForm">
    <InputText @bind-Value="ShoppingListModel.Name" placeholder="Wprowadź nazwę nowej listy" />
    <button type="submit" class="btn btn-primary">Zapisz</button>
    @if (ShoppingListId is not null)
    {
        <button type="button" class="btn btn-danger" @onclick="RemoveList">Usuń listę zakupów</button>
    }
</EditForm>
<div class="message">@message</div>

@if (ShoppingListId is not null)
{
    <div class="products">
        @foreach (var product in ShoppingListModel.Products)
        {
            <Product @key="product.Id" ShoppingListId="ShoppingListId" ProductModel="product" OnProductRemoval="OnProductRemoval" OnProductCreated="OnProductCreated" />
        }
    </div>
}

@code {
    [Parameter] public int? ShoppingListId { get; set; }
    [SupplyParameterFromForm] private ShoppingListDetails? ShoppingListModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ShoppingListId is null)
        {
            ShoppingListModel = new();
        }
        else
        {
            ShoppingListModel = await Mediator.Send(new FindShoppingListQuery(ShoppingListId.Value));
        }
        ShoppingListModel.Products.Add(new());
    }    

    private async Task AddOrUpdateShoppingList()
    {
        if (ShoppingListId is null)
        {
            ShoppingListId = await Mediator.Send(new CreateShoppingListCommand(ShoppingListModel!.Name!));
            _ = ShowMessage("Stworzono nową listę.");
        }
        else
        {
            await Mediator.Send(new UpdateShoppingListCommand(ShoppingListModel!.Id, ShoppingListModel!.Name!));
            _ = ShowMessage("Zmieniono nazwę listy.");
        }
    }

    private void OnProductRemoval(ProductDetails product)
    {
        ShoppingListModel!.Products.Remove(product);
        StateHasChanged();
    }

    private void OnProductCreated(ProductDetails product)
    {
        ShoppingListModel!.Products.Add(new());
        StateHasChanged();
    }

    private async Task RemoveList()
    {
        var command = new RemoveShoppingList(ShoppingListId!.Value);
        await Mediator.Send(command);
        await ShowMessage("Usunięto listę zakupów.");
        Nav.NavigateTo("/my-shopping-lists");
    }
}
